<div [ngClass]="'setting-data'">
  <div [ngClass]="'setting-right-pane'">

    <div [ngClass]="'setting-list'">
      <div [ngClass]="'setting-list-item selectable'" *ngFor="let event of events" (click)="selectEvent(event)">
        <div [ngClass]="'setting-list-item-value'">{{event.acronym}}</div>
        <div [ngClass]="'setting-list-item-value'">{{event.name}}</div>
      </div>
    </div>

    <div [ngClass]="'setting-buttons'">
      <button [ngClass]="'setting-button-remove selectable'" (click)="removeEvent()"></button>
      <button [ngClass]="'setting-button-add selectable'" (click)="addEvent()"></button>
    </div>

  </div>

  <div [ngClass]="'setting-left-pane'" *ngIf="editingEvent !== undefined">

    <div [ngClass]="'setting-list'">
      <div [ngClass]="'pane-item-input'">
        <div [ngClass]="'pane-item-input-label'">
          <label>Acronym</label>
        </div>
        <input [ngClass]="'pane-item-input-value selectable'" type="text" [(ngModel)]="editingEvent.acronym" [value]="editingEvent.acronym">
      </div>

      <div [ngClass]="'pane-item-input'">
        <div [ngClass]="'pane-item-input-label'">
          <label>Name</label>
        </div>
        <input [ngClass]="'pane-item-input-value selectable'" type="text" [(ngModel)]="editingEvent.name" [value]="editingEvent.name">
      </div>

      <div [ngClass]="'pane-item-input'">
        <div [ngClass]="'pane-item-input-label'">
          <label>Description</label>
        </div>
        <input [ngClass]="'pane-item-input-text selectable'" type="text" [(ngModel)]="editingEvent.description" [value]="editingEvent.description">
      </div>
    </div>

    <div [ngClass]="'setting-buttons'">
      <button [ngClass]="'setting-button-save selectable'" (click)="saveEvent()"></button>
    </div>

  </div>
</div>
