.blur2 {
  filter: blur(2px);
}

.blur2:hover {
  filter: blur(0px);
}

.blur16 {
  filter: blur(16px);
}

.blur16:hover {
  filter: blur(0px);
}

.selectable {
  border: solid #404040 2px;
  cursor: pointer;
}

.selectable:hover {
  border: solid #cccacc 2px;
}

.patient-data-inline-field {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.patient-data-inline-field-id {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
}

.patient-data-inline-field-value {
  width: 70%;
  height: 100%;

  display: flex;
  border-radius: 2%;

  background-color: #404040;
  color: #cccacc;
  border: solid #404040 2px;
}

.patient-data-title {
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;

  font-weight: bold;
}

.patient-data-inside-title {
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;

  font-weight: bold;
}


.patient-data-container {
  width: 100%;
  height: 100%;
  cursor: default;

  display: flex;
  flex-direction: row;

  gap: 5px;
  padding: 10px;
}

.patient-data-first-column {
  height: 100%;
  width: 60%;

  display: flex;
  flex-direction: column;
  padding: 10px;

  border: solid #cccacc 1px;
}

.patient-data-data {
  width: 100%;
  height: 95%;

  display: flex;
  gap: 5px;
}

.patient-data-data-first-column {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

  .patient-data-internal-info {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;

    background-color: #646464;
  }

  .patient-data-media{
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .patient-data-media-photo-container {
    width: 100%;
    height: 90%;
    line-height: 100%;

    align-items: center;
    padding: 10px;
    overflow: hidden;

    background-color: #646464;
  }

  .patient-data-media-photo {
    width: 100%;
    height: auto;
  }

  .patient-data-media-photo-default {
    max-width:100%;
    max-height:100%;
    background: url("../../../../../assets/menu_patients_icon.png") no-repeat center;
  }

  .patient-data-photo-picker {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    gap: 5px;

    background-color: #404040;
  }

  .photo-picker-icon-container {
    height: 100%;
    width: 10%;

    display: flex;

    background-color: #404040;
  }

  .photo-picker-icon-field {
    height: 100%;
    width: 90%;

    display: flex;
    align-items: center;

    background-color: #404040;
  }

  .photo-picker-icon {
    height: 100%;
    width: 100%;

    display: flex;

    background: url("../../../../../assets/photo_picker.png") no-repeat center;
  }



.patient-data-data-second-column {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

  .patient-data-comment {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    background-color: #646464;
  }

  .patient-data-comment-text {
    width: 100%;
    height: 95%;

    display: flex;
    padding: 10px;
    border-radius: 1%;
    resize: none;

    background-color: #404040;
    color: #cccacc;
  }

  .patient-data-info {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    padding: 10px;

    background-color: #646464;
  }

  .patient-data-info-text {
    width: 100%;
    height: 95%;

    display: flex;
    padding: 10px;
    border-radius: 1%;
    resize: none;

    background-color: #404040;
    color: #cccacc;
  }

.patient-data-second-column {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.patient-data-partner-data-container {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;

  border: solid #cccacc 1px;
}

.patient-data-partner-data {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  background-color: #646464;
}

.partner-data-comment-text {
  width: 100%;
  height: 70%;

  display: flex;
  padding: 10px;
  border-radius: 1%;
  resize: none;

  background-color: #404040;
  color: #cccacc;
}

.patient-data-insemination-data-container {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;

  border: solid #cccacc 1px;
}

.patient-data-insemination-data {
  width: 100%;
  height: 95%;

  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  background-color: #646464;
}

.insemination-data-comment-text {
  width: 100%;
  height: 80%;

  display: flex;
  padding: 10px;
  border-radius: 1%;
  resize: none;

  background-color: #404040;
  color: #cccacc;
}
