<div [ngClass]="'mid_screen_container_error'">
    <div [ngClass]="'container_error'">
      <div [ngClass]="'container_error_message'">
        <div [ngClass]="'container_error_title'">
          <span [ngClass]="'error_primary_title text_accent_color'">404</span>
          <br>
          <div [ngClass]="'error_secondary_title'">
            <span [ngClass]="'text_accent_color'">E</span><span>mbryo</span>
            <span [ngClass]="'text_accent_color'">V</span><span>isual</span>
            <span [ngClass]="'text_accent_color'">S</span><span>tudio</span>
          </div>
          <div [ngClass]="'error_tertiary_title'">
            Experience our new Time-Lapse Imaging Software
          </div>
        </div>
      </div>
    </div>
</div>
