.main_menu_footer_container {
  margin: 5px;
  padding: 10px;
  height: 8vh;
}

.main_menu_footer_inner_container{
  height: 100%;
  width: 100%;
  background:url("../../../../assets/fenomatch_logo_300.png") no-repeat center;
  background-size: 10%;
}
